<div class="row title_header">
  <div class="col-md-8"><%= title_header(@store, "Edit Premium Notification") %></div>
</div>

<ol class="breadcrumb">
  <%= pn_breadcrumb_list(@premium_notification, 'Edit Premium Notification') %>
</ol>

<%= render 'form' %>
