<div class="row title_header">
  <div class="col-md-8"><%= title_header(@store, "New Premium Notification") %></div>
</div>

<ol class="breadcrumb">
  <%= pn_breadcrumb_list(nil, 'New Premium Notification', true) %>
</ol>

<%= render 'form' %>

