<nav class="navbar navbar-default">
  <div class="container-fluid">
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid col-md-offset-5 col-md-4">
	  <p class="navbar-text"></p>
	</div>
</nav>