<div class="row title_header">
  <div class="col-md-8"><%= title_header(@store, "Edit Feed") %></div>
</div>

<ol class="breadcrumb">
  <%= feed_breadcrumb_list(@feed, 'Edit Feed') %>
</ol>

<div class="row">
  <%= render 'form' %>
</div>