<p>Welcome to <%= Settings.app_name %>!! Your medium to advertise about your latest deals and offers.</p>

<p>Your mall will be made live in a few minutes and you will soon receive a call and email from your dedicated account manager.</p>
