<p>Hi <%= @user.profile_name %>,</p>

<p>
  We have received a request to reset your <%= Settings.app_name %> account password.<br/>
  <%= link_to "Click here", edit_api_web_password_resets_url(:id => @user.reset_password_token) %> to reset your password.<br/>
  If you did not request a new password, please let us know immediately.
</p>
