<html>
  <body>
    <%= yield %>
    
    <p>Want to Learn More About Our Retail Solutions? Contact us at <%= mail_to Settings.mail.contact_us %>.</p>
    <p>Keep enjoying <%= Settings.app_name %> !!!</p>
    <p>Thanks,<br/>
    Team <%= Settings.app_name %>.</p>
  </body>
</html>
