<div class="row">
  <div class="col-md-6">
    <%= paginate stores, :params => { controller: :stores, action: :index }, remote: true %>
  </div>
</div>

<div class="table-responsive">
  <!-- <table class="table table-hover table-bordered table-condensed"> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Ref Code</th>
        <th>Store</br>Dwnld</th>
        <!-- <th class="action">Remaining</br>Days</th> -->
        <th class="action">Unapproved</th>
        <th class="action">Allowed</th>
        <th class="action">Status</th>
        <th class="col-md-2 action">Action</th>
      </tr>
    </thead>

    <tbody class="tbody-list">
      <% stores.each do |store| %>
        <tr class="store_listing_row_<%= store.id %>">
          <%= render 'stores/listing/row', store: store %>
        </tr>  
        
      <% end %>
    </tbody>
  </table>
  <% unless stores.present? %>
    <span class="badge alert-danger">Results not found</span>
  <% end %>
</div>
<div class="row">
  <div class="col-md-6">
    <%= paginate stores, :params => { controller: :stores, action: :index }, remote: true %>
  </div>
</div>
