<div class="row title_header">
  <div class="col-md-8"><%= title_header(@store, "Credentials") %></div>
</div>

<ol class="breadcrumb">
  <%= store_breadcrumb_list(@store, 'Credentials') %>
</ol>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
  	<%= render 'users/inputs/change_username', user: @store.user %>
  </div>
  <div class="col-md-4">
    <%= render 'users/inputs/change_password', user: @store.user %>  
  </div>
  <div class="col-md-2"></div>
</div>     
