<div class="row title_header">
  <div class="col-md-8">
  	<%= title_header(@store, "Edit Store") %>
  </div>
</div>

<ol class="breadcrumb">
  <%= store_breadcrumb_list(@store, 'Edit Store') %>
</ol>

<%= render 'form' %>
