<div class="new_globel_register_store">
	<div class="row title_header">
	  <div class="col-md-8"><%= title_header(@store, "New Store") %></div>
	</div>

	<ol class="breadcrumb">
    <%= store_breadcrumb_list(nil, 'New Store', true) %>
	</ol>

	<%= render 'form' %>
</div>
