<div class="row">
  <div class="col-md-6">
    <%= paginate deals, :params => { controller: :deals, action: :index }, remote: true %>
  </div>
</div>

<div class="table-responsive">
  <!-- <table class="table table-hover table-bordered table-condensed"> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Main line</th>
        <th>Deal</br>category</th>
        <th>Deal type</th>
        <% if @sponsor_order.present? %>
            <th>Sponsor</br>Order</th>
        <% end %>
        <th class="action">Remaining</br>Days</th>
        <th>Allowed</th>
        <th>Approved</th>
        <th class="col-md-2 action">Status</th>
        <th class="col-md-3 action">Action</th>
      </tr>
    </thead>
    
    <tbody class="tbody-list">
      <% deals.each do |deal| %>
        <tr class="deal_listing_row_<%= deal.id %>">
          <%= render 'deals/listing/row', deal: deal %>
        </tr>  
      <% end %>
    </tbody>
  </table>
  <% unless deals.present? %>
    <span class="badge alert-danger">Results not found</span>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <%= paginate deals, :params => { controller: :deals, action: :index }, remote: true %>
  </div>
</div>
