<div class="new_globel_register_store">
	<div class="row title_header">
	  <div class="col-md-8"><%= title_header(@sales_user, "Sales User") %></div>
	</div>

	<ol class="breadcrumb">
    <%= sales_user_breadcrumb_list(nil, 'New', true) %>
	</ol>

	<%= render 'form' %>
</div>
