<div class="row title_header">
  <div class="col-md-8">
  	<%= title_header(nil, "Notifications") %>
  </div>
</div>

<div class="notifications-list">
  <%= render 'list', notifications: @notifications %>  
</div>