<div class="row title_header">
  <div class="col-md-8">
    <%= title_header(@merchant_user, "Edit transaction detail") %>
  </div>
</div>

<ol class="breadcrumb">
  <%= merchant_user_breadcrumb_list(@merchant_user, 'Edit transaction detail') %>
</ol>

<div class="row">
  <%= render 'form', transaction_detail: @transaction_detail %>
</div>
