<div class="table-responsive">
  <!-- <table class="table table-hover table-bordered table-condensed"> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Message</th>
        <th>Merchantable</th>
        <th>Deal</th>
        <th>Target</th>
        <th class="action">Status</th>
        <% if current_user.super_admin? %>
            <th class="col-md-2 action">Action</th>
        <% end %>
      </tr>
    </thead>

    <tbody class="tbody-list">
      <% notifications.each do |notification| %>
			  <tr class="row_merchant_user_notification<%= notification.id %>">
			    <%= render 'row', notification: notification %>
			  </tr>
			<% end %>
    </tbody>
  </table>
  <% unless notifications.present? %>
    <span class="badge alert-danger">Results not found</span>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <%= paginate notifications, :params => { controller: :requested_notifications, action: :index }, remote: true %>
  </div>
</div>
