<div class="col-md-6 input_price">
  <div class="form-group">
    <%= label_tag :last_coupons, 'Coupons',class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :last_coupons, class: "form-control"  %>
    </div>
  </div>
</div>
<!-- <div class="col-md-6 input_price">
  <div class="form-group">
    <%#= f.label :daily_quantity_quota, 'Daily Quantity Quota',class: "col-sm-3 control-label" %>
    <div class="col-sm-4">
      <%#= f.text_field :daily_quantity_quota, class: "form-control"  %>
    </div>
  </div>
</div> -->