<div class="row title_header">
  <div class="col-md-8"><%= title_header(@store, "Edit Outlet") %></div>
</div>

<ol class="breadcrumb">
  <%= outlet_breadcrumb_list(@outlet, 'Edit Outlet') %>
</ol>

<%= render 'form' %>
