<div class="row title_header">
  <div class="col-md-8"><%= title_header(@store, "New Deal") %></div>
</div>

<ol class="breadcrumb">
  <%= deal_breadcrumb_list(nil, 'New Deal', true) %>
</ol>

<div class="row last_minute_deal_input">
  <%= render 'form' %>
</div>  
