<div class="new_globel_register_store">
	<div class="row title_header">
	  <div class="col-md-8"><%= title_header(@cashback, "Edit Cashback") %></div>
	</div>

	<ol class="breadcrumb">
    <%= cashback_breadcrumb_list(nil, 'Edit Cashback', true) %>
	</ol>

	<%= render 'form' %>
</div>
