<div class="row">
  <div class="col-md-6">
    <%= paginate @end_users, :params => { controller: :end_users, action: :index }, remote: true %>
  </div>
</div>

<div class="table-responsive">
  <!-- <table class="table table-hover table-bordered table-condensed"> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</br>Number</th>
        <th>Email</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Points</th>
        <th>Email</br>Verified</th>
        <th class="col-md-2 action">Action</th>
      </tr>
    </thead>
    
    <tbody class="tbody-list">
    	<tbody class="tbody-list">
    		<%= render 'end_users/listing/row', end_users: @end_users %>
    	</tbody> 
    </tbody>
  </table>
  <% unless @end_users.present? %>
    <span class="badge alert-danger">Results not found</span>
  <% end %>
</div>