<div class="row">
  <div class="col-lg-7"></div>
   <div class="col-lg-2"></div>
  <div class="col-lg-3">
    <%= search_field_tag 'search[text]', params[:search], placeholder: 'Search by name/phone number', class: "form-control", width: '200px' %>
    <!-- <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go!</button>
    </span> -->
  </div>
</div>