<div class="row title_header">
  <div class="col-md-8"><%= title_header(@mall, "Credentials") %></div>
</div>

<ol class="breadcrumb">
  <%= mall_breadcrumb_list(@mall, 'Credentials') %>
</ol>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <%= render 'users/inputs/change_username', user: @mall.user %>
  </div>
  <div class="col-md-4">
    <%= render 'users/inputs/change_password', user: @mall.user %>
  </div>
  <div class="col-md-2"></div>
</div>     
