<div class="row title_header">
  <div class="col-md-8">
  	<%= title_header(@mall, "Edit Mall") %>
  </div>
</div>

<ol class="breadcrumb">
  <%= mall_breadcrumb_list(@mall, 'Edit Mall') %>
</ol>

<%= render 'form' %>
