<div class="new_globel_register_store">
	<div class="row title_header">
	  <div class="col-md-8"><%= title_header(@mall, "New Mall") %></div>
	</div>

	<ol class="breadcrumb">
    <%= mall_breadcrumb_list(nil, 'New Mall', true) %>
	</ol>

	<%= render 'form' %>
</div>
