<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= render 'shared/dashboard/brand_logo'%>
    </div>

	  <div class="row main-head">
	    <div class="col-md-offset-mid">
	      <h3><%= Settings.app_name %> Solutions</h3>
	    </div>
	  </div>
  </div><!-- /.container-fluid -->
</nav>