<nav class="navbar navbar-default admin-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= render 'shared/dashboard/brand_logo'%>
    </div>
    <p class="navbar-text navbar-right">Signed in as : <i><b><%= current_user.user_name %></b></i></p>
  </div>
</nav>